
/*||||||||||||||||||||||||||||||||| GENERAL ||||||||||||||||||||||||||||||*/

@font-face{font-family:OSWALD-BOLD; src:url(../fonts/OSWALD-BOLD.TTF);}
@font-face{font-family:OSWALD-regular; src:url(../fonts/OSWALD-REGULAR.TTF);}
@font-face{font-family:Economica-Regular; src:url(../fonts/Economica-Regular.TTF);}
@font-face{font-family:Economica-Bold; src:url(../fonts/Economica-Bold.TTF);}


body {background:url(../images/BG.jpg); margin:0px; padding:0px; font-family:hansen; font-size:20px;}
.container {width:1100px; margin:auto;}
*{margin:0px; padding:0px;}
.clearfix{clear:both;}


h5{color:#cf0f1e; font-family:Economica-Bold; font-size:39px; margin-bottom:30px; margin-left:45px;}
.slides p{color:#454242; font-family:arial; width:530px; line-height:2em; font-weight:bold; font-size:18px;
float:left; margin-left:45px;}
.sliderwrapper .slides img .gambar1 {float:right; margin-right:150px;}
.gambar1 {width: 400px; height: 60%; margin-left:  120px; margin-top: -90px}


/*||||||||||||||||||||||||||||||||| HEADER ||||||||||||||||||||||||||||||*/

#header{  overflow:hidden;   }
.headerwrapper .logo {float:left; line-height:130px; margin-top:15px; }
.headerwrapper nav ul{font-family:Arial; float:right; font-size:16px; font-weight:bold; margin-top:15px; }
.headerwrapper nav ul li {list-style:none; float:left; margin:20px; padding:15px;}
.headerwrapper nav ul li a{text-decoration:none; color:#313131;}


/*||||||||||||||||||||||||||||||||| BEST DISHES ||||||||||||||||||||||||||||||*/

.bestdisheswrapper{height:442px; background:url(../images/www3.jpg) no-repeat center center fixed; background-size:cover; border-top:3px solid rgba(255,153,0,0.2);
 border-bottom:3px solid rgba(255,153,0,0.4);  text-align:center;}

 .bestdisheswrapper #bestdishes h2 {color:white; font-size:35px;  letter-spacing:3px; font-family:Economica-bold;; margin-top:30px;}
 .bestdisheswrapper #bestdishes h2::before{content:url(../images/rectangle.png); position:relative; margin-right:15px;
  top:-10px;}
 .bestdisheswrapper #bestdishes h2::after{content:url(../images/rectangle.png); position:relative;  margin-left:15px;
 top:-10px;}
 .bestdisheswrapper h3{font-family:Economica-Regular; font-size:30px; text-transform:uppercase; letter-spacing:2px;}
.item{float:left;  width:366px; margin-top:50px;}

.item img{border:5px solid white;}
.item2{float:left;  width:366px; margin-top:50px;}

.item2 img{border:5px solid white;}
.item3{float:left;  width:366px; margin-top:50px;}
 h3{ font-size:25px; color:white;}
.item3 img{border:5px solid white;}

/*||||||||||||||||||||||||||||||||| BOOK ONLINE ||||||||||||||||||||||||||||||*/

.bookonlinewrapper{text-align:center;}

.bookonlinewrapper #bookonline h3{ color:#cf0e1e; font-size:35px;  letter-spacing:8px; font-family:Economica-bold; margin-top:30px; margin-bottom:50px;}
.bookonlinewrapper #bookonline h3::before{content:url(../images/rectangle.png); position:relative; margin-right:15px;
  top:-10px;}
  .bookonlinewrapper #bookonline h3::after{content:url(../images/rectangle.png); position:relative;  margin-left:15px;
 top:-10px;}
 .name{background:#383636;  width:470px; height:87px; background-image:url(../images/icon4.png); background-position:7px 7px; background-repeat:no-repeat; border-radius:8px; border:0px; color:white; font-size:25px; font-family:hansen; padding:0 30px;
 line-height:87px; background-position:95% 50%; margin-bottom:20px; float:left;}

.email{background:#383636;  width:470px; height:87px; background-image:url(../images/icon3.png); background-position:7px 7px; background-repeat:no-repeat; border-radius:8px; border:0px; color:white; font-size:25px; font-family:hansen; padding:0 30px;
 line-height:87px; background-position:95% 50%; margin-bottom:20px; float:right; }

 .from{background:#383636;  width:300px; height:87px; background-image:url(../images/icon2.png); background-position:7px 7px; background-repeat:no-repeat; border-radius:8px; border:0px; color:white; font-size:25px; font-family:hansen; padding:0 30px;
 line-height:87px; background-position:95% 50%; margin-top:5px; }

.to{background:#383636;  width:300px; height:87px; background-image:url(../images/icon2.png); background-position:7px 7px; background-repeat:no-repeat; border-radius:8px; border:0px; color:white; font-size:25px; font-family:hansen; padding:0 30px;
 line-height:87px; background-position:95% 50%; margin-top:5px; }

.persons{background:#383636;  width:300px; height:87px; background-image:url(../images/icon.png); background-position:7px 7px; background-repeat:no-repeat; border-radius:8px; border:0px; color:white; font-size:25px; font-family:hansen; padding:0 30px;
 line-height:87px; background-position:95% 50%; margin-top:5px; }

 .booknow{ background:#ff5a0b; height:52px; border-radius:10px; border:0px; width:839px; margin-top:20px; border-bottom:5px solid #c84d29; margin-bottom:40px; font-family:OSWALD-BOLD; font-size:30px; color:white; line-height:47px; cursor:pointer;}

 .booknow{position:relative;}


/*||||||||||||||||||||||||||||||||| CONTACT US ||||||||||||||||||||||||||||||*/

.contactwrapper{margin-top:50px; text-align:center;}
.contactwrapper h3{ color:#cf0e1e; font-size:35px;  letter-spacing:8px; font-family:Economica-bold; margin-top:30px; margin-bottom:50px;}

.contactwrapper  h3::before{content:url(../images/rectangle.png); position:relative; margin-right:15px;
  top:-10px;}
.contactwrapper  h3::after{content:url(../images/rectangle.png); position:relative;  margin-left:15px;
 top:-10px;}
  .contactwrapper .staff{ position:absolute;}

.myimage2{border:3px solid #ff5a0b; border-radius:5px; margin-left: 208px; position:relative;
 opacity:0.4; cursor:pointer;}
 .myimage3{border:3px solid #ff5a0b; border-radius:5px; margin-left: 202px; position:relative;
 opacity:0.4; cursor:pointer;}
 .myimage{border:3px solid #ff5a0b; border-radius:5px; margin:0px 3px 0px 84px; position:relative;
 opacity:0.4; cursor:pointer;}

.mahasiswa{position: relative; top: 175px;}
#ijang{text-align: center; color: red;}
#fian{align: left; color: red;}
#nindi{align: right; color: red;}

/*||||||||||||||||||||||||||||||||| FOOTER ||||||||||||||||||||||||||||||*/
.footerwraper {height:530px; margin-top: 200px; margin-bottom:40px; background:#3c4149; border-top:4px solid #a8aaad;}
footer{text-align: center;}
footer h2{font-family:OSWALD-regular; font-size:20px; color:#dedede;}

/** Komentar Pelanggan **/
.customerreview{width:30%;  float:left; margin-top:30px; }
.review{margin-top:5px; text-align:left;}
.review p{color:#a3c9e7; font-size:15px; font-family:hansen; }
.review span2{color:#d6d6d6; font-size:26px; font-family:hansen;}
.customerreview h2{text-align:left;}

review h4{color:#3d6e96; font-size:27px; font-family:oswald-regular; float:left; margin-left:14px; margin-top:7px; margin-bottom:7px;}
.line{width:340px; height:1px; color:#72859e; background:#72859e;}
.space{width:340px; height:1px; color:#72859e; background:#72859e; clear:both; position:relative; top:10px;}

/** Media Sosial **/
.socialize{width:366px;  float:left; margin-top:30px;}
.socialimgs{margin-top:5px; width:170px; float:left; margin-left:100px; text-align:left; }
.socialize h2{text-align:left;margin-left:100px;}

/**** feedback*****/

.feedback{width:366px;  float:right; margin-top:30px; margin-bottom:30px; text-align:left;}
.feedback h2{ margin-left:3px;}
.feedback form{}
.feedback form input[type='text']{width:367px; height:57px; border-radius:5px; border:1px solid #0a131f; 
background:#32363d; color:white; font-size:18px; padding:5px;}

.feedback form textarea {width:367px; height:90px; border-radius:5px; border:1px solid #0a131f; 
background:#32363d; color:white; font-size:18px; padding:5px;}


.feedback form h6{color:#cccccc; font-size:18px; font-family:OSWALD-regular; margin-top:20px;}
.feedback form button{ background:#3d6e96; color:#1f527b; font-size:16px; font-family:OSWALD-regular; width:95px;
height:29px; border:0px; border-radius:4px; margin-top:20px; cursor:pointer; }

/*||||||||||||||||||||||||||||||||| COPY RIGHTS ||||||||||||||||||||||||||||||*/

 .copyrightswrapper{margin-top: 250px; height:20px; background:#3c4149; color:#f2f2f2; font-family:oswald-bold; font-size:15px; line-height:15px; text-align:center;}

  #copyrights a{color:#a3c9e7;}
